<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PROYECTO</title>
</head>
<body>
  <h1>David Correa</h1> <br>
  <h2>¿Porqué elegí esta carrera?</h2><br>
  <h3>Yo elegí esta carrera debido a que vengo estudiando informática desde el colegio
    por lo que quiero es mejorar mi conocimiento dentro de la rama de la informática
    mas a profundidad del hardware que el software.
  </h3> 
</body>
</html>
